<div class="homepage">
  <h1 class="heading">welcome to your blog!.</h1>
  <p class="home_body">Explore, Create, Share – Your Journey in Words</p>
</div>
<img src="pic.jpg" alt=" welcome logo blog " class="image" width="950" height="530">

<section class="articles">
  <h2 class="articles_heading">Latest blogs</h2>
 <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>


  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
 

  



</section>
